/* Customizações para a página de Política de Privacidade */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
}

h1 {
    color: #C7926C !important;
}

.accordion-button {
    background-color: #f0f0f0;
    font-weight: bold;
    color: #C7926C;
    transition: background-color 0.3s;
}

.accordion-button:not(.collapsed) {
    background-color: #000455;
    color: #fff;
}

.accordion-body {
    background-color: #fff;
    color: #555;
    line-height: 1.6;
}

.accordion-item {
    margin-bottom: 15px;
    border-radius: 8px;
    overflow: hidden;
}

.accordion-button:focus {
    box-shadow: none;
}

/* Customizações para melhorar a aparência em dispositivos móveis */
@media (max-width: 768px) {
    h1 {
        font-size: 24px;
    }
    
    .accordion-button {
        font-size: 16px;
    }

    .accordion-body {
        font-size: 14px;
    }
}


/* Customizações da página trabalhe.html */

.h1-vagas{
    font-size: 20px;
}

.vagas-container {
    margin-top: 20px;
}

.vaga-area {
    margin-bottom: 40px;
    padding: 20px;
    border: 2px solid #ddd;
    border-radius: 10px;
    background-color: #f9f9f9;
    transition: background-color 0.3s ease;
}

.vaga-area:hover {
    background-color: #f1f1f1; /* Destaca quando passa o mouse */
}

.vaga-area h3 {
    font-size: 24px;
    color: #940000;
    font-weight: bold;
    margin-bottom: 15px;
    border-left: 5px solid #940000;
    padding-left: 10px;
}

.vaga-lista {
    list-style-type: none;
    padding-left: 0;
}

.vaga-lista li {
    font-size: 18px;
    margin-bottom: 10px;
    padding-left: 20px;
    position: relative;
}

.vaga-lista li:before {
    content: "•";
    color: #940000;
    font-weight: bold;
    position: absolute;
    left: 0;
    top: 0;
}
